<%= form_with(model: @listener, local: true) do |form| %>

    <% if @listener.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@listener.errors.count, "error") %>
                prohibited this article from being saved:
            </h2>
            <ul>
                <% @listener.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :interval %><br>
        <%= form.radio_button :interval, "hourly" %>
        <%= form.label :interval_hourly, "Hourly" %><br>
        <%= form.radio_button :interval, "daily" %>
        <%= form.label :interval_daily, "Daily" %><br>
        <%= form.radio_button :interval, "weekly" %>
        <%= form.label :interval_weekly, "Weekly" %><br>
        <%= form.radio_button :interval, "monthly" %>
        <%= form.label :interval_monthly, "Monthly" %><br>
    </p>

    <p>
        <%= form.label :notes %><br>
        <%= form.text_area :notes %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>