<h1>New Listener</h1>
<%= form_with scope: :listener, url: listeners_path, local: true do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title%>
    </p>

    <p>
        <%= form.label :interval %><br>
        <%= form.radio_button :interval, "hourly" %>
        <%= form.label :interval_hourly, "Hourly" %><br>
        <%= form.radio_button :interval, "daily" %>
        <%= form.label :interval_daily, "Daily" %><br>
        <%= form.radio_button :interval, "weekly" %>
        <%= form.label :interval_weekly, "Weekly" %><br>
        <%= form.radio_button :interval, "monthly" %>
        <%= form.label :interval_monthly, "Monthly" %><br>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
<%= link_to 'Back',listeners_path %>